.form-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
}


.cities {
    position: relative;
    display: flex;  
}

.airline-results {
    margin: auto;
    padding: 10px;
}

.airline-card {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
} 

.airline-name {
    width: 200px;
}

.airline-price-per-person {
    width: 100px;
}

.submitButton {
    padding: 10px;
    margin: 0px;
}

.dates {
    display: flex;
    height: 50px;
    margin: auto;
}

.depDate, .retDate {
    color: white;
    margin: auto;
}

.errorMsg {
    text-align: center;
    height: 30px;
}

.cityInput {
    width: 40%;
    max-width: 300px;
    margin: auto;
    color: white;
}

.cityInput label, .dates label {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
}

.loadingCircle {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    height: 200px;
    font-size: 18px;
}

/*This is the section for autofill module styling*/

.inputText {
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dropdown {
    position: absolute;
    top: 60%;
    width: 40%;
    margin: auto;
    background-color: rgb(220, 219, 219);
    max-height: 100px;
    overflow-y: scroll;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown::-webkit-scrollbar {
    display: none;
}

.portButton {
    width: 100%;
    opacity: 1;
    border: 0px;
    background-color: rgb(220, 219, 219);
    transition: all .5s; 
}

.portButton:hover, .cityButton:hover, .hovered {
    opacity: .6 !important;
    cursor: pointer !important;
    background-color: rgb(161, 158, 158) !important
}

.cityButton {
    color: black;
    background-color: rgb(220, 219, 219);
    display: flex;
    justify-content: left;
    width: 100%;
    border: 0px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all .5s; 
    opacity: 1
}


/* Section for cards to display information on flights*/

.depInfo h2, .retInfo h2, .depInfo h4, .retInfo h4 {
    margin: 0px
}

.depInfo h2, .retInfo h2 {
    font-size: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%
}

.card {
    position: relative;
    background-color: gray;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 80%;
    min-width: 700px;
    max-width: 850px;
    border-radius: 40px;
    border-style: dashed;
    border-color: rgb(54, 54, 54);
    padding: 15px;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    top: 0;
    width: 13%;
    height: 22%;
    border-radius: 100%;
    background-color: black; /* Match the card background color */
}

.card::before {
    left: 0;
    top: 39%;
    transform: translateX(-50%);
}

.card::after {
    right: 0;
    top: 39%;
    transform: translateX(50%);
}

.cardInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dropdownSorting {
    margin-left: auto;
    margin-right: 15%;
}

.genInfo {
   margin-bottom: 10px; 
}

.depInfo, .retInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.travelTime {
    margin: 10px;
}

.stops {
    padding-top: 7%;
    padding-bottom: 7%;
}

.layover {
    display: flex;
    justify-content: center;
}

.layoverEntry {
    margin-left: 5%;
    margin-right: 5%
}

.layoverEntry p {
    width: 70%;
    margin: auto;
    font-weight: 500;
    font-size: 13px;
    font-style: italic;
}

.layover h5, .stops h3 {
    margin: 0
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .form-container {
        width: 100vw
    }

    .cityInput label, .dates label{
        font-size: 13px;
    }

    .dateInput input{
        width: 75%;
    }

    .cityButton, .portButton {
        font-size: 9px;
    }

    .cards {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        width: 80vw;
        height: 240px;
        min-width: 300px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px
    }

    .genInfo, .genInfo h2, .depAirline, .retAirline, .depTimes, .retTimes, .depTimes h2, .retTimes h2, .pricing {
        font-size: 10px;
    }

    .genInfo {
        margin-bottom: 2px;
    }

    .depAirline {
        height: 20px;
    }

    .travelTime {
        height: 15px;
    }
    
    .pricing h2 {
        margin: 0px;
    }

    .deals button {
        font-size: 10px;
        height: 15px;
        width: 80px;
    }

    /* .genInfo h2, .genInfo h4, .genInfo span, .depAirline span, .retAirline span, .travelTime span, .stops h3, .layoverEntry h5, .layoverEntry span{
        font-size: 10px;
    } */
}

