.priceChangeMain {
    margin: 5vh 0 0 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.priceChangeTable {
    width: 80vw;
    min-width: 800px;
}

.priceRow {
    height: auto;
}